@model IList<AuthorItem>

<div class="mb-4">
    <h3 class="text-success mb-2">
        TOP 4 tác giả có nhiều bài viết nhất
    </h3>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Blog"
                   asp-action="Author"
                   asp-route-slug="@item.UrlSlug"
                   title="@item.Notes">
                    @item.FullName
                    <span>(@item.PostCount)</span>
                </a>
            </li>
        }
    </ul>
</div>