@*@{
    ViewData["PageTitle"] = "Liên hệ";
}

<main role="main">
    <div class="container mt-2">
        <h1 class="text-center">Liên hệ</h1>
        <div class="row">
            <div class="col col-md-6">
                <img src="~/images/sky3.jpg"
                width="100%">

            </div>
            <div class="col col-md-6">
                <form method="post" action="https://www.facebook.com/hoangha020602">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <span class="text-secondary fst-italic fs-6">(Bắt buộc)</span>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <span class="text-secondary fst-italic fs-6">(Bắt buộc)</span>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="Tiêu đề">
                    </div>
                    <div class="form-group">
                        <label for="message">Ý kiến</label>
                        <span class="text-secondary fst-italic fs-6">(Bắt buộc)</span>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" name="btnGuiLoiNhan">Gửi lời nhắn</button>
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3903.285046182217!2d108.44285845665999!3d11.954755880520677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1678375831088!5m2!1svi!2s" 
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- End block content -->
</main>

<!-- footer -->
<footer class="footer mt-auto py-3">
    <div class="container">
        <span>Bản quyền © bởi <a href="https://www.facebook.com/hoangha020602">Nền Tảng</a> - <script>document.write(new Date().getFullYear());</script>.</span>
        <span class="text-muted">Hành trang tới Tương lai</span>

        <p class="float-right">
            <a href="#">Về đầu trang</a>
        </p>
    </div>
</footer>
<!-- end footer -->
*@

<div class="hero overlay inner-page bg-primary py-5">
	<div class="container">
		<div class="row align-items-center justify-content-center text-center pt-5">
			<div class="col-lg-6">
				<h1 class="heading text-white mb-3" data-aos="fade-up">Contact Us</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
				<div class="contact-info">

					<div class="address mt-2">
						<i class="icon-room"></i>
						<h4 class="mb-2">Location:</h4>
						<p>43 Raymouth Rd. Baltemoer,<br> London 3910</p>
					</div>

					<div class="open-hours mt-4">
						<i class="icon-clock-o"></i>
						<h4 class="mb-2">Open Hours:</h4>
						<p>
							Sunday-Friday:<br>
							11:00 AM - 2300 PM
						</p>
					</div>

					<div class="email mt-4">
						<i class="icon-envelope"></i>
						<h4 class="mb-2">Email:</h4>
						<p>info@Untree.co</p>
					</div>

					<div class="phone mt-4">
						<i class="icon-phone"></i>
						<h4 class="mb-2">Call:</h4>
						<p>+1 1234 55488 55</p>
					</div>

				</div>
			</div>
			<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
				<form action="#">
					<div class="row">
						<div class="col-6 mb-3">
							<input type="text" class="form-control" placeholder="Your Name">
						</div>
						<div class="col-6 mb-3">
							<input type="email" class="form-control" placeholder="Your Email">
						</div>
						<div class="col-12 mb-3">
							<input type="text" class="form-control" placeholder="Subject">
						</div>
						<div class="col-12 mb-3">
							<textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
						</div>

						<div class="col-12">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> <!-- /.untree_co-section -->

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">About</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div> <!-- /.widget -->
				<div class="widget">
					<h3>Social</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Company</h3>
					<ul class="list-unstyled float-start links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Vision</a></li>
						<li><a href="#">Mission</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
					<ul class="list-unstyled float-start links">
						<li><a href="#">Partners</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Creative</a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Recent Post Entry</h3>
					<div class="post-entry-footer">
						<ul>
							<li>
								<a href="">
									<img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>


				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>
					Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->
<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>