@model IPagedList<Post>

@{
    ViewData["PageTitle"] = "Trang chủ";
}

<div class="p-4">
    @foreach (var postItem in Model)
    {
        <partial name="_PostItem" model="postItem" />
    }
    <partial name="_Pager" model ="@Model"/>
</div>