<header>

    @*<nav class="navbar navbar-expand-sm
    navbar-toggleable-sm navbar-light
    bg-white border-bottom box-shadow">
    <div class="container-fluid">
    <a class="navbar-brand"
    asp-area=""
    asp-controller="Blog"
    asp-action="Index">
    Tips & Tricks
    </a>

    <button class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target=".navbar-collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse
    d-sm-inline—flex
    justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark"
    asp-area=""
    asp-controller="Blog"
    asp-action="Index">
    Trang chủ
    </a>
    </li>

    <li class="nav-item">
    <a class="nav-link text-dark"
    asp-area=""
    asp-controller="Blog"
    asp-action="Rss"
    title="Tải danh sách bài viết mới">
    RSS Feed
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>*@

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <a asp-area=""
                               asp-controller="Blog"
                               asp-action="Index"
                               class="logo m-0 float-start">Tips&Tricks<span class="text-primary">.</span></a>
                        </div>
                        <div class="col-8 text-center">
                            <form action="#" class="search-form d-inline-block d-lg-none">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bi-search"></span>
                            </form>

                            <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                                <li class="active">
                                    <a asp-area=""
                                       asp-controller="Blog"
                                       asp-action="Index">Trang chủ</a>
                                </li>
                                <li class="has-children">
                                    <a href="category.html">Trang</a>
                                    <ul class="dropdown">
                                        <li><a href="search-result.html">Search Result</a></li>
                                        <li>
                                            <a asp-area=""
                                               asp-controller="Blog"
                                               asp-action="About"
                                               title="Thông tin về TAT Blog">Giới thiệu</a>
                                        </li>
                                        <li>
                                            <a asp-area=""
                                               asp-controller="Blog"
                                               asp-action="Contact"
                                               title="Xem thông tin liên lạc và góp ý">Liên hệ</a>
                                        </li>
                                        
                                        @*<li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li class="has-children">
                                        <a href="#">Dropdown</a>
                                        <ul class="dropdown">
                                        <li><a href="#">Sub Menu One</a></li>
                                        <li><a href="#">Sub Menu Two</a></li>
                                        <li><a href="#">Sub Menu Three</a></li>
                                        </ul>
                                        </li>*@
                                    </ul>
                                </li>@*
                                <li><a href="category.html">Culture</a></li>
                                <li><a href="category.html">Business</a></li>
                                <li><a href="category.html">Politics</a></li>*@
                                <li>
                                    <a asp-area=""
                                       asp-controller="Blog"
                                       asp-action="Rss"
                                       title="Tải danh sách bài viết mới">RSS Feed</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 text-end">
                            <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                                <span></span>
                            </a>
                            <form action="#" class="search-form d-none d-lg-inline-block">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bi-search"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>