<div class="my-4">
    <!-- Form tìm kiếm -->
    <partial name="_SearchForm" />

    <!-- Các chuyên đề/ chủ đề -->
   @await Component.InvokeAsync("CategoriesWidget")

    <!-- Bài viết nổi bật -->
    <h1>
        Bài viết nổi bật
    </h1>

    <!-- Đăng ký nhận tin mới -->
    <h1>
        Đăng ký nhận tin mới
    </h1>

    <!-- Tag cloud -->
    <h1>
        Tag clound
    </h1>
</div>