@model IList<Post>

<div class="mb-4">
    <h3 class="text-success mb-2">
        TOP 3 bài viết được xem nhiều nhất
    </h3>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Blog"
                   asp-action="Post"
               asp-route-slug="@item.UrlSlug"
                   title="@item.Title">
                    @item.Description
                </a>
            </li>
        }
    </ul>
</div>